.jumbotron {
  height: 500px;
  background-image: url("https://images.unsplash.com/photo-1580478341213-659047bb025c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1652&q=80");
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.jumbotron h1 {
  font-family: serif;
  margin-top: 11%;
  color: #FFFF;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.jumbotron h5 {
  color: #FFFF;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.jumbotron label {
  color: #FFFF;
  font-size: 17px;
}

.jumbotron form {
  margin-top: 3.5%;
}

#movieSearch {
  width: 500px;
  border-radius: 10px;
  border: 1px black solid;
}

.buttonLearnMore {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #cec0ab;
  color:#FFF;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

/*popup*/
* {
  box-sizing: border-box;
}

.popupShit {
  position: fixed;
  top: 0;
  left: 0.5;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.popup__container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 100px auto;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}